<footer class="bg-gray-100 p-5">
    <div class="w-10/12 mx-auto">
        <h1 class="text-xl">{{"Get The FreshCart App"|translate}}</h1>
        <p class="text-gray-600 mt-2 mb-5">{{"we will send you a link,open it in your phone to download the app"|translate}}</p>
    
        <form class="flex items-center mx-auto space-x-2 w-12/12">
            
    <div class="relative w-12/12 md:w-10/12">
        
        <input type="email" id="voice-search" class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 shadow-xs placeholder:text-body" placeholder="{{'email'|translate}}" required />
      
    </div>
    <button type="submit" class="btn-main w-5/12 md:w-4/12 lg:w-3/12 2xl:w-2/12">
     {{"Share App Link"|translate}}
    </button>


        </form>
        <div class="border-y py-5 border-gray-300 md:flex justify-between items-center my-5 w-12/12 mx-auto ">
            <div class="flex items-center gap-2  ">
                <h3 class="text-sm m-0">{{"Payment partners"|translate}}</h3>
                <img src="images/amazon-pay.png" width="50px"  alt="">
                <img src="images/American-Express-Color.png" width="50px"  alt="">
                <img src="images/paypal.png" width="50px"  alt="">
                <img src="images/mastercard.webp" width="50px"  alt="">

            </div>
            <div class="flex items-center gap-2 mt-5 sm:mt-0">
                <h3 class="h6 m-0">{{"Get Deliveries with FreshCart"|translate}}</h3>
                <img src="images/get-google-play.png" width="100px" alt="">
                <img src="images/get-apple-store.png" width="100px" alt="">
            </div>
        </div>
    </div>

</footer>
