 @if(wishlist().length > 0){
    <h1 class="mb-6 mt-6 ms-1 text-4xl text-green-600">{{"Wish List"|translate}} :</h1>
<div class="mt-10 mb-10 grid  lg:grid-cols-4 md:grid-cols-2 w-full gap-4">   
    @for(product of wishlist(); track $index){
<div
  class="w-full cursor-pointer bg-neutral-primary-soft px-2 py-3 mb-6 border border-default rounded-base shadow-xs"
>
  <div >
    <img [routerLink]="['/productdetails', product._id]" class="rounded-base mb-6" [src]="product.imageCover" alt="product image" />

    <div>
      <div>
        <div class="flex items-center justify-between mb-2">
          <span class="text-xl text-green-600">{{ product.category.name }}</span>
  
          
        </div>
        <h5 class="text-xl text-heading font-semibold tracking-tight">
          {{ product.title.split(' ').slice(0, 2).join(' ') }}
        </h5>
      </div>

      <div class="flex items-center justify-between mt-6">
        <span class="text-3xl font-bold text-heading md:text-xl">{{ product.price }} EGP</span>
        <div class="flex justify-between text-lg items-center rtl:space-x-reverse">
            <i class="fa-solid fa-star text-yellow-400 me-1"></i>
            <span>{{ product.ratingsAverage }} </span>
          </div>
      </div>
    </div>
  </div>
  <div class="flex mt-2 ">
    <button
    (click)="addProductToCart(product._id)"
    type="button"
    class="inline-flex items-center w-10/12 justify-center text-white bg-green-600 hover:bg-green-700 box-border border border-transparent focus:ring-4 focus:ring-green-100 shadow-xs font-medium leading-5 rounded-base text-lg px-3 py-2 focus:outline-none"
  >
   
  {{"Add to cart"|translate}} 
 <i class="fa-solid fa-cart-shopping text-sm"></i>
  </button>
      <span  (click)="removeProductFromeWishlist(product._id)"  class="bg-red-500 ms-2 text-lg   w-15 hover:bg-red-700
               text-white py-3 px-2 rounded-xl font-semibold
               shadow-md hover:shadow-lg
               transition-all duration-300">-<i class="fa-regular text-white fa-heart"></i>
      </span>
  </div>
  
</div>

    }
 </div>
 }@else{
    <div class="w-full mt-10 mx-auto">
        <img src="images/WishList.27b4b70c133dbb5fa3624842ce62d778.svg"  class="w-120 mx-auto">
    </div>
 }
 