@if(forgetPasswordFlag){
  <section class="w-3/4 mx-auto">
<h1 class="text-green-600 text-3xl font-medium my-5">{{"Forget password"|translate}} :</h1>
@if(errMsg()){
  <div class="p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  {{errMsg()}}
</div>
}
<form  [formGroup]="forgetPasswordForm" (ngSubmit)="submitForgetPasswordForm()">
     <div class="mb-5">
         <label for="email" class="block mb-2.5 text-lg font-medium text-heading">{{"email"|translate}} :</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
      />
      @if(forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched){
         <div class="p-2 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
        @if(forgetPasswordForm.get('email')?.errors?.['required']){
          <p>{{"Email is required"|translate}}</p>
        }@else if(forgetPasswordForm.get('email')?.errors?.['email']){
          <p>{{"Please enter a valid email address (example@email.com)"|translate}}</p>
        }
      </div>
      }
     </div>
     <button [disabled]="forgetPasswordForm.invalid" class="btn-main  block ms-auto">
      @if(isLoading()){
        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
      }@else{
        <span>{{"Send"|translate}}</span>
      }
    </button>
</form>
</section>
}
@if(resetCodeFlag){
  <app-resetcode></app-resetcode>
}